.metaData-wrapper {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    // box-shadow: 0 0 10px #0000002c;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);    h3 {
        text-align: center;
        padding: 1rem;
    } 
    p{
        padding: 1rem;
        text-align: center;
    }

    ul {

        list-style: none;
        padding: .6rem;
        li{
            text-transform: capitalize;
        }
    }
}