.metaData-wrapper {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 3px 13px #00000067;

    h3 {
        text-align: center;
        padding: 1rem;
    }

    ul {

        list-style: none;
        padding: .6rem;
    }
}